header {
    padding: 20px 0px;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav {
    position: absolute;
    top: 82.5px;
    right: 0;
}